.theme-pomodoro {
    --color-primary: #282a36;
    --color-secondary: #44475a;
    --color-font: white;
}

.theme-break {
    --color-primary: #50fa7b;
    --color-secondary: #8be9fd;
    --color-font: #282a36;
}

body {
    margin: 0px;
    background-color: var(--color-primary);
    font-family: monospace;
    color: var(--color-font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms, color 500ms;
}
.verticalStructure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    user-select: none;
}

.navbar ul li:hover {
    cursor: pointer;
}

@media (max-width: 480px) {
    .navbar ul li {
        font-size: 15px;
        padding: 10px 10px 10px 10px;
    }
}

.clockContainer {
    margin-top: 50px;
}

#clock {
    font-size: 150px;
}
@media (max-width: 768px) {
    #clock {
        font-size: 90px;
    }
}
