.theme-pomodoro {
    --color-primary: #282a36;
    --color-secondary: #44475a;
    --color-font: white;
}

.theme-break {
    --color-primary: #50fa7b;
    --color-secondary: #41f36e;
    --color-font: #282a36;
}

body {
    margin: 0px;
    background-color: var(--color-primary);
    font-family: monospace;
    color: var(--color-font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms, color 500ms;
}
.verticalStructure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    user-select: none;
}

.navbar ul li:hover {
    cursor: pointer;
}
@media (max-width: 768px) {
    .navbar ul li {
        padding: 15px 12px 15px 12px
    }
}


@media (max-width: 480px) {
    .navbar ul li {
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        font-size: 15px;
    }
}

.clockContainer {
    margin-top: 50px;
    margin-bottom: 40px;
}

#clock {
    font-size: 150px;
    margin-bottom: 90px;
}

@media (max-width: 768px) {
    #clock {
        font-size: 90px;
    }
}

.clockBtnContainer {
    display: flex;
    justify-content: space-evenly;
}

.clockBtnContainer button {
    background-color: var(--color-secondary);
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    border-style: solid;
    border-color: var(--color-font);
    border-radius: 8px;
    color: var(--color-font);
    transition: background-color 500ms, color 500ms, border-color 500ms;
    cursor: pointer;
}

#distractionInput {
    border: 0px var(--color-font) solid;
    border-bottom: 3px var(--color-font) solid;
    border-radius: 1px;
    font-size: 22px;
    width: 300px;
    color: var(--color-font);
    background-color: var(--color-primary);
    transition: color 500ms, background-color 500ms, border-bottom 500ms;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-font);
    opacity: 1; /* Firefox */
    transition: 500ms;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-font);
    transition: 500ms;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-font);
    transition: color 500ms;
}

#distractionInput:focus,
input:focus {
    outline: none;
}

@media (max-width: 480px) {
    #distractionInput {
        width: 180px;
        font-size: 18px;
    }
}

#distractionContainer {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80vw;
}

#distractionContainer li {
    font-size: 18px;
    user-select: none;
    word-wrap: break-word;
}

#distractionContainer li:hover {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

#timeSpent {
    margin-top: 200px;
    align-self: flex-start;
    font-size: 25px;
}

#timeSpent:hover {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

@media (max-width: 710px) {
    #timeSpent {
        align-self: center;
        margin-top: 100px;
        font-size: px;
    }
}

#inputBtn {
    border: none;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--color-font);
    transition: background-color 500ms;
}

#inputBtn:hover {
    cursor: pointer;
}

@media (max-width: 480px) {
    #inputBtn {
        padding: 10px;
    }
}
